services:
  mongodb:
    image: mongo:latest
    container_name: mongo-local
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
      
  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbit-local
    restart: always
    ports:
      - "5672:5672" 
      - "15672:15672" 
    volumes:
      - rabbitmq-data:/var/lib/rabbitmq

volumes:
  mongo-data:
  rabbitmq-data: